<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-controller="myCtrl">
    
    <input type="number" ng-model="input">
    <button ng-click="calculate()">Find</button>

    <p> {{ value }} </p>

    <script>
        angular.module('myApp',[]).controller('myCtrl',function($scope,sqroot){
            $scope.input='';
            $scope.calculate = function(){
                $scope.value = sqroot.myFunc($scope.input);
            };
        })
        .service('sqroot',function(){
            this.myFunc = function(x){
                return x*x;
            }
        });
    </script>
</body>
</html>